@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");
/* font-family: 'Open Sans', sans-serif; */
/* font-family: 'Poppins', sans-serif; */
@import url(./reset.css);
@import url(./header.css);
@import url(./button.css);
@import url(./container.css);
@import url(./footer.css);

:root {
  --Pink: hsl(322, 100%, 66%);
  --VeryPaleCyan: hsl(193, 100%, 96%);
  --VeryDarkCyan: hsl(192, 100%, 9%);
  --GrayishBlue: hsl(208, 11%, 55%);
}
